
.header-links{
    height: 100vh;
    width: 10%;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    background-color: lightgreen;
}